.grid {
  max-width: 100%;
  display: block;
  padding: 0;
}

.grid.grid-width {
  width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

/* Mobile */
@media (max-width: 740px) {
  .grid.grid-width {
    width: 464px;
    margin: 0 auto;
  }

  .row {
    margin-left: -4px;
    margin-right: -4px;
  }

  .col {
    padding-left: 4px;
    padding-right: 4px;
  }

  .sm-col-none {
    display: none !important;
  }

  .sm-col-half {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sm-col-third {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }

  .sm-col-quad {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .sm-col-full {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sm-col-1-of-12 {
    flex: 0 0 calc(1 / 12 * 100%);
    max-width: calc(1 / 12 * 100%);
  }

  .sm-col-2-of-12 {
    flex: 0 0 calc(2 / 12 * 100%);
    max-width: calc(2 / 12 * 100%);
  }

  .sm-col-2-4-of-12 {
    flex: 0 0 calc(2.4 / 12 * 100%);
    max-width: calc(2.4 / 12 * 100%);
  }

  .sm-col-5-of-12 {
    flex: 0 0 calc(5 / 12 * 100%);
    max-width: calc(5 / 12 * 100%);
  }

  .sm-col-7-of-12 {
    flex: 0 0 calc(7 / 12 * 100%);
    max-width: calc(7 / 12 * 100%);
  }

  .sm-col-8-of-12 {
    flex: 0 0 calc(8 / 12 * 100%);
    max-width: calc(8 / 12 * 100%);
  }

  .sm-col-9-of-12 {
    flex: 0 0 calc(9 / 12 * 100%);
    max-width: calc(9 / 12 * 100%);
  }

  .sm-col-10-of-12 {
    flex: 0 0 calc(10 / 12 * 100%);
    max-width: calc(10 / 12 * 100%);
  }

  .sm-col-11-of-12 {
    flex: 0 0 calc(11 / 12 * 100%);
    max-width: calc(11 / 12 * 100%);
  }

  .sm-col-4-of-9 {
    flex: 0 0 calc(4 / 9 * 100%);
    max-width: calc(4 / 9 * 100%);
  }

  .sm-col-5-of-9 {
    flex: 0 0 calc(5 / 9 * 100%);
    max-width: calc(5 / 9 * 100%);
  }

  .sm-offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .sm-offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .sm-offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .sm-offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .sm-offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .sm-offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .sm-offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .sm-offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .sm-offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .sm-offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .sm-offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .grid.grid-width {
    width: 800px;
    margin: 0 auto;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .md-col-none {
    display: none !important;
  }

  .md-col-half {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .md-col-third {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }

  .md-col-quad {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .md-col-full {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .md-col-1-of-12 {
    flex: 0 0 calc(1 / 12 * 100%);
    max-width: calc(1 / 12 * 100%);
  }

  .md-col-2-of-12 {
    flex: 0 0 calc(2 / 12 * 100%);
    max-width: calc(2 / 12 * 100%);
  }

  .md-col-2-4-of-12 {
    flex: 0 0 calc(2.4 / 12 * 100%);
    max-width: calc(2.4 / 12 * 100%);
  }

  .md-col-5-of-12 {
    flex: 0 0 calc(5 / 12 * 100%);
    max-width: calc(5 / 12 * 100%);
  }

  .md-col-7-of-12 {
    flex: 0 0 calc(7 / 12 * 100%);
    max-width: calc(7 / 12 * 100%);
  }

  .md-col-8-of-12 {
    flex: 0 0 calc(8 / 12 * 100%);
    max-width: calc(8 / 12 * 100%);
  }

  .md-col-9-of-12 {
    flex: 0 0 calc(9 / 12 * 100%);
    max-width: calc(9 / 12 * 100%);
  }

  .md-col-10-of-12 {
    flex: 0 0 calc(10 / 12 * 100%);
    max-width: calc(10 / 12 * 100%);
  }

  .md-col-11-of-12 {
    flex: 0 0 calc(11 / 12 * 100%);
    max-width: calc(11 / 12 * 100%);
  }

  .md-col-4-of-9 {
    flex: 0 0 calc(4 / 9 * 100%);
    max-width: calc(4 / 9 * 100%);
  }

  .md-col-5-of-9 {
    flex: 0 0 calc(5 / 9 * 100%);
    max-width: calc(5 / 9 * 100%);
  }

  .md-offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .md-offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .md-offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .md-offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .md-offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .md-offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .md-offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .md-offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .md-offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .md-offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .md-offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }
}

/* PC */
@media (min-width: 1024px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .row.gutters-5px {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row.gutters-5px .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .xl-col-none {
    display: none !important;
  }

  .xl-col-half {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .xl-col-third {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }

  .xl-col-quad {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .xl-col-full {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .xl-col-1-of-12 {
    flex: 0 0 calc(1 / 12 * 100%);
    max-width: calc(1 / 12 * 100%);
  }

  .xl-col-2-of-12 {
    flex: 0 0 calc(2 / 12 * 100%);
    max-width: calc(2 / 12 * 100%);
  }

  .xl-col-2-4-of-12 {
    flex: 0 0 calc(2.4 / 12 * 100%);
    max-width: calc(2.4 / 12 * 100%);
  }

  .xl-col-3-of-12 {
    flex: 0 0 calc(3 / 12 * 100%);
    max-width: calc(3 / 12 * 100%);
  }

  .xl-col-5-of-12 {
    flex: 0 0 calc(5 / 12 * 100%);
    max-width: calc(5 / 12 * 100%);
  }

  .xl-col-7-of-12 {
    flex: 0 0 calc(7 / 12 * 100%);
    max-width: calc(7 / 12 * 100%);
  }

  .xl-col-8-of-12 {
    flex: 0 0 calc(8 / 12 * 100%);
    max-width: calc(8 / 12 * 100%);
  }

  .xl-col-9-of-12 {
    flex: 0 0 calc(9 / 12 * 100%);
    max-width: calc(9 / 12 * 100%);
  }

  .xl-col-10-of-12 {
    flex: 0 0 calc(10 / 12 * 100%);
    max-width: calc(10 / 12 * 100%);
  }

  .xl-col-11-of-12 {
    flex: 0 0 calc(11 / 12 * 100%);
    max-width: calc(11 / 12 * 100%);
  }

  .xl-col-4-of-9 {
    flex: 0 0 calc(4 / 9 * 100%);
    max-width: calc(4 / 9 * 100%);
  }

  .xl-col-5-of-9 {
    flex: 0 0 calc(5 / 9 * 100%);
    max-width: calc(5 / 9 * 100%);
  }

  .xl-offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .xl-offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .xl-offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .xl-offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .xl-offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .xl-offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .xl-offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .xl-offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .xl-offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .xl-offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .xl-offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }
}

/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .grid.grid-width {
    width: 800px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .row.gutters-5px {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row.gutters-5px .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .lg-col-none {
    display: none !important;
  }

  .lg-col-half {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .lg-col-third {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }

  .lg-col-quad {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .lg-col-full {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .lg-col-1-of-12 {
    flex: 0 0 calc(1 / 12 * 100%);
    max-width: calc(1 / 12 * 100%);
  }

  .lg-col-2-of-12 {
    flex: 0 0 calc(2 / 12 * 100%);
    max-width: calc(2 / 12 * 100%);
  }

  .lg-col-2-4-of-12 {
    flex: 0 0 calc(2.4 / 12 * 100%);
    max-width: calc(2.4 / 12 * 100%);
  }

  .lg-col-5-of-12 {
    flex: 0 0 calc(5 / 12 * 100%);
    max-width: calc(5 / 12 * 100%);
  }

  .lg-col-7-of-12 {
    flex: 0 0 calc(7 / 12 * 100%);
    max-width: calc(7 / 12 * 100%);
  }

  .lg-col-8-of-12 {
    flex: 0 0 calc(8 / 12 * 100%);
    max-width: calc(8 / 12 * 100%);
  }

  .lg-col-9-of-12 {
    flex: 0 0 calc(9 / 12 * 100%);
    max-width: calc(9 / 12 * 100%);
  }

  .lg-col-10-of-12 {
    flex: 0 0 calc(10 / 12 * 100%);
    max-width: calc(10 / 12 * 100%);
  }

  .lg-col-11-of-12 {
    flex: 0 0 calc(11 / 12 * 100%);
    max-width: calc(11 / 12 * 100%);
  }

  .lg-col-4-of-9 {
    flex: 0 0 calc(4 / 9 * 100%);
    max-width: calc(4 / 9 * 100%);
  }

  .lg-col-5-of-9 {
    flex: 0 0 calc(5 / 9 * 100%);
    max-width: calc(5 / 9 * 100%);
  }

  .lg-offset-1 {
    margin-left: calc(1 / 12 * 100%);
  }

  .lg-offset-2 {
    margin-left: calc(2 / 12 * 100%);
  }

  .lg-offset-3 {
    margin-left: calc(3 / 12 * 100%);
  }

  .lg-offset-4 {
    margin-left: calc(4 / 12 * 100%);
  }

  .lg-offset-5 {
    margin-left: calc(5 / 12 * 100%);
  }

  .lg-offset-6 {
    margin-left: calc(6 / 12 * 100%);
  }

  .lg-offset-7 {
    margin-left: calc(7 / 12 * 100%);
  }

  .lg-offset-8 {
    margin-left: calc(8 / 12 * 100%);
  }

  .lg-offset-9 {
    margin-left: calc(9 / 12 * 100%);
  }

  .lg-offset-10 {
    margin-left: calc(10 / 12 * 100%);
  }

  .lg-offset-11 {
    margin-left: calc(11 / 12 * 100%);
  }
}
